<h2>Recent Orders</h2>
<pre>{{orderss | json}}</pre>
<ul>
    <li ng-repeat="order in orders">
      <a href="#detail/{{order.id}}">{{order.order_number}}</a> - 
      {{order.billing_address.first_name}} {{order.billing_address.last_name}} 
      <br>
      Order Data {{order.created_at | date:"dd-MMM-yyyy"}}
      
      <ul>
        <li ng-repeat="item in order.line_items">
          <a href="#detail/{{order.id}}/itemid/{{item.id}}">{{item.name}}</a>
        </li>
      </ul>
    </li>
  </ul>